<div class="navbar sticky nav_countries_show" >

    <div class="pundit_nav">
      <% if policy(@region).edit? %>
        <%= link_to "Edit #{@region.title.capitalize}", edit_region_path(@region), class:"CTA" %>
      <% end %>
      <% if policy(@region).destroy? %>
        | <%= link_to "Delete #{@region.title.capitalize}", region_path(@region), class:"CTA", method: :delete, data: { confirm: "Are you sure you want to delete #{@region.title}?"}%> |
      <% end %>
      <% if  policy(Region).create? %>
        <%= link_to "Add region",  new_country_region_path(@region.country), class:"CTA" %>
      <% end %>
    </div>



    <div class="nav_margin">
      <% if policy(Photo).create? %>
        <%= link_to "Add photo", new_region_photo_path(@region), class:"CTA" %> |
      <% end %>

      <% if user_signed_in? %>
        <%= link_to "Back", country_path(@region.country), class:"CTA" %> |
      <% else %>
        <%= link_to "Back", :back, class:"CTA" %> |
      <% end %>

      <%= link_to "Home", root_path, class:"CTA" %>

      <% if user_signed_in? %>
        <%= image_tag "faguoren_logo.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <%# else %>
        <%# link_to root_path, class:"CTA" do  %>
            <%#= image_tag "faguoren_logo.jpg", class: "avatar dropdown-toggle", 'aria-haspopup': true, 'aria-expanded': false %>
        <%# end %>
      <% end %>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <% end %>
      </div>
    </div>

</div>
