<div class="navbar sticky nav_countries_show" >

    <div class="pundit_nav">
      <% if policy(@country).edit? %>
        <%= "#{@country.title.capitalize}" %>
        <%= link_to edit_country_path(@country), class:"CTA" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      <% end %>
      <% if policy(@country).destroy? %>
         <%= link_to country_path(@country), class:"CTA", method: :delete, data: { confirm: "Are you sure you want to delete #{@country.title}?"} do %>
           <i class="fas fa-trash"></i>
          <% end %>
      <% end %>
    </div>


    <div class="nav_margin">
      <% if policy(Region).create? %>
        <%= link_to "Ajouter une région", new_country_region_path(@country), class:"CTA" %> |
      <% end %>


      <%= link_to root_path, class:"CTA" do %>
        <i class="fas fa-home"></i>
      <% end %>

      <% if user_signed_in? %>
        <%= image_tag "faguoren_logo.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% #else %>
        <%#= link_to root_path, class:"CTA" do  %>
            <%#= image_tag "faguoren_logo.jpg", class: "avatar dropdown-toggle", 'aria-haspopup': true, 'aria-expanded': false %>
        <% #end %>
      <% end %>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <% if user_signed_in? %>
          <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <% end %>
      </div>
    </div>

</div>
