<div class="banner form_new_country">
  <div class="container" id="edit_country_container">
      <div class="row pt-5">

        <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4">
          <div class="form_title">
            <%= "Modifier #{@photo.title.capitalize}" %>
          </div>
          <%= simple_form_for(@photo) do |f| %>
            <%= f.input :title %>
            <%= f.input :description %>
            <%= f.input :image, as: :file %>
            <%= f.submit "Modifier #{@photo.title.capitalize}" %>
          <% end %>

          <div class="form_links">
            <%= link_to region_path(@photo.region), class:"CTA" do %>
              <i class="fas fa-chevron-left"></i>
            <% end %>
            <%= link_to root_path, class:"CTA" do %>
              <i class="fas fa-home"></i>
            <% end %>
          </div>
       </div>

    </div>
  </div>
</div>
