<%= simple_form_for([@region, @photo]) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :image, as: :file %>
  <%= f.submit "Submit" %>
<% end %>

<p><%= link_to 'Back', region_path(@region) %></p>
