<div class="banner form_new_country">
  <div class="container" id="add_country_container">
      <div class="row pt-5">

        <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4">
          <div class="form_title">
            <%= 'Add a photo'.upcase %>
          </div>

          <%= simple_form_for([@region, @photo]) do |f| %>
            <%= f.input :title %>
            <%= f.input :description %>
            <%= f.input :image, as: :file %>
            <%= f.submit "Submit" %>
          <% end %>

          <div class="form_links">
            <%= link_to 'Back', region_path(@region) %> |
            <%= link_to 'Home', root_path  %>
          </div>
        </div>

    </div>
  </div>
</div>
