<h5><%= @photo.region.country.title %> - <%= @photo.region.country.description %></h5>

    <h6><%= @photo.region.title %> - <%= @photo.region.description %></h6>
<ul>
  <p>
    <%= @photo.title %> - <%= @photo.description %>
  </p>
</ul>


<%= link_to 'Back', region_path(@photo.region) %> |
<%= link_to 'Home', root_path %>
