<h5><%= @photo.region.country.title %> - <%= @photo.region.country.description %></h5>
<h6><%= @photo.region.title %> - <%= @photo.region.description %></h6>

<ul>
  <%= @photo.title %> - <%= @photo.description %>
</ul>


<%= link_to 'Back', region_path(@photo.region) %> |
<%= link_to 'Home', root_path %>


