<% @countries.each do |country| %>
  <p><%= country.title %> - <%= country.description %>
  - <%= link_to "See more", country_path(country) %> |
  <%= link_to "Edit", edit_country_path(country) %> |
  <%= link_to "Delete", country_path(country), method: :delete, data: { confirm: "Are you sure you want to delete #{country.title}?"}%></p>
<% end %>

<%= link_to "Add a country", new_country_path %>


