<div class="banner">
  <%= render 'shared/navbar_home' %>
  <div class="caption">
    <%#= image_tag "favicon22.jpg"%>
    <span class="banner_title" id="banner_title">FAGUOREN</span>
    <p class="banner_text">Mathieu Tremblay - Photography</p>
  </div>
</div>

<div class="all_cards">
  <div class="wrapper">
    <% @countries.each do |country| %>

      <div class="one_card_info">
        <div class="card_image">
          <%= link_to country_path(country) do %>
            <%= cl_image_tag country.image.key, alt: "", :secure => true, :width=>300, :dpr=>2.0,
            :crop=>"scale", :aspect_ratio=>"2:3", :quality=>100, :background=>"#F3F3F3"%>
          <% end %>
        </div>

        <div class="card_links">
          <div class="title_CTA">
            <%= link_to "#{country.title.upcase}", country_path(country), class:"CTA" %>
          </div>

          <div class="description_CTA">
            <%=  "#{country.description.capitalize}" %>
          </div>
        </div>

        <div class="pundit_CTA">
          <% if policy(country).edit? %>
            <%= link_to 'Edit', edit_country_path(country), class:"CTA" %> |
          <% end %>
          <% if policy(country).destroy? %>
            <%= link_to 'Delete', country_path(country), class:"CTA", method: :delete, data: { confirm: "Are you sure you want to delete #{country.title}?"} %> |
          <% end %>
          <% if policy(Region).create? %>
            <%= link_to "Add region", new_country_region_path(country), class:"CTA" %>
          <% end %>
        </div>
      </div>

    <% end %>
  </div>
</div>
