<% @countries.each do |country| %>
  <p>
  <%= country.title %> | <%= country.description %> |
  <%= link_to 'See more', country_path(country) %>
  <% if policy(country).edit? %>
    | <%= link_to 'Edit', edit_country_path(country) %> |
  <% end %>
  <% if policy(country).destroy? %>
    <%= link_to 'Delete', country_path(country), method: :delete, data: { confirm: "Are you sure you want to delete #{country.title}?"} %>
  <% end %>
  </p>
<% end %>

<% if policy(Country).create? %>
  <%= link_to 'Add a new country', new_country_path %>
<% end %>
