<div class="banner form_new_country">
  <div class="container" id="add_country_container">
      <div class="row pt-5">

        <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4">
          <div class="form_title">
            <%= 'Ajouter un pays'.upcase %>
          </div>
          <%= simple_form_for @country do |f| %>
            <%= f.input :title %>
            <%= f.input :description %>
            <%= f.input :image, as: :file %>
            <%= f.submit 'Ajouter un pays' %>
          <% end %>

          <div class="form_links">
          <%= link_to root_path, class:"CTA" do %>
            <i class="fas fa-home"></i>
          <% end %>
          </div>
       </div>

    </div>
  </div>
</div>
