<p><%= @country.title %> | <%= @country.description %></p>

<p>
<% @country.regions.each do |region| %>
  <ul><%= region.title %> | <%= region.description %> | <%= link_to "Edit a region", edit_country_region_path(@country) %></ul>

<% end %>
</p>

<p>
  <%= link_to "Add a region", new_country_region_path(@country) %> |
</p>

<p>
<%= link_to "Back", countries_path %> |
<%= link_to "Edit", edit_country_path(@country) %> |
<%= link_to "Delete", country_path(@country), method: :delete, data: { confirm: "Are you sure you want to delete #{@country.title}?"}%>
</p>

