<%= render 'shared/navbar_countries_show' %>

<p><%= @country.title %> - <%= @country.description %></p>

<div class="all_cards">
  <div class="wrapper">
    <% @country.regions.each do |region| %>

      <div class="one_card_info">
        <div class="card_image">
          <%= cl_image_tag region.image.key,alt: "", :secure => true, :width=>311, :dpr=>2.0,
          :crop=>"scale", :aspect_ratio=>"2:3", :radius => 5, :quality=>100, :background=>"#F3F3F3"%> <!--crop: :fill, :radius =>  15, :crop=>"mfit", :aspect_ratio=>"2:1" ,  width: 280, height: 350,-->
        </div>

        <div class="card_links">
          <div class="title_CTA">
            <%= link_to "#{region.title.upcase}", region_path(region), class:"CTA" %>
          </div>

          <div class="description_CTA">
            <%=  "#{region.description.capitalize}" %>
          </div>
        </div>

        <div class="pundit_CTA">
            <% if policy(region).edit? %>
              <%= link_to "Edit #{region.title.capitalize}", edit_region_path(region), class:"CTA" %> |
            <% end %>
            <% if policy(region).destroy? %>
              <%= link_to "Delete #{region.title.capitalize}", region_path(region), class:"CTA", method: :delete, data: { confirm: "Are you sure you want to delete #{region.title}?"}%>
            <% end %>
        </div>

      </div>
    <% end %>
  </div>
</div>

