<%= render 'shared/navbar_countries_show' %>

<div class="pages_titles">
  <h1><%=@country.title.capitalize%></h1>
  <p><%=@country.description.capitalize%></p>
</div>


<div class="all_cards cards_country_show">
  <div class="wrapper">
    <% @country.regions.each do |region| %>

      <div class="one_card_info">
        <div class="card_image">
          <%= link_to region_path(region) do %>
            <%= cl_image_tag region.image.key,alt: "", :secure => true, :width=>311, :dpr=>2.0,
            :crop=>"scale", :aspect_ratio=>"2:3", :quality=>100, :background=>"#F3F3F3"%>
          <% end %>
        </div>

        <div class="card_links">
          <div class="title_CTA">
            <%= link_to "#{region.title.upcase}", region_path(region), class:"CTA" %>
          </div>

          <div class="description_CTA">
            <%=  "#{region.description.capitalize}" %>
          </div>
        </div>

        <div class="pundit_CTA">
            <% if policy(region).edit? %>
              <%= link_to edit_region_path(region), class:"CTA" do %>
                <i class="fas fa-edit"></i>
              <% end %>
            <% end %>
            <% if policy(region).destroy? %>
              <%= link_to region_path(region), class:"CTA", method: :delete, data: { confirm: "Es-tu sûr de vouloir supprimer #{region.title} ?"} do %>
                <i class="fas fa-trash"></i>
              <% end %>
            <% end %>
        </div>

      </div>
    <% end %>
  </div>
</div>

