<div class="banner form_new_country">
  <div class="container" id="edit_country_container">
      <div class="row pt-5">

        <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4">
          <div class="form_title">
            <%= "Edit #{@region.title.capitalize}" %>
          </div>

            <%= simple_form_for(@region) do |f| %>
              <%= f.input :title %>
              <%= f.input :description %>
              <%= f.input :image, as: :file %>
              <%= f.submit "Submit" %>
            <% end %>

            <div class="form_links">
              <%= link_to 'Back', country_path(@region.country) %> |
              <%= link_to 'Home', root_path  %>
            </div>
        </div>
      </div>
    </div>
</div>
