<%= simple_form_for(@region) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :image, as: :file %>
  <%= f.submit "Submit" %>
<% end %>

<p>
  <%= link_to 'Back', country_path(@region.country) %>
  <%= link_to 'Home', root_path  %>
</p>
