<h5><%= @region.country.title %> - <%= @region.country.description %></h5>

<ul>
  <p>
    <%= @region.title %> - <%= @region.description %>
    <% if policy(@region).edit? %>
      | <%= link_to 'Edit region', edit_region_path(@region) %> |
    <% end %>
    <% if policy(@region).destroy? %>
      <%= link_to 'Delete region', region_path(@region), method: :delete, data: { confirm: "Are you sure you want to delete #{@region.title}?"}%>
    <% end %>
  </p>
</ul>


<%= link_to 'Back', country_path(@region.country) %>
<%= link_to 'Home', root_path %>
