<%= render 'shared/navbar_regions_show' %>
<h5><%= @region.country.title %> - <%= @region.country.description %></h5>

<ul>
  <p>
    <%= @region.title %> - <%= @region.description %>
    <% if policy(@region).edit? %>
      | <%= link_to "Edit #{@region.title.capitalize}", edit_region_path(@region) %> |
    <% end %>
    <% if policy(@region).destroy? %>
      <%= link_to "Delete #{@region.title.capitalize}", region_path(@region), method: :delete, data: { confirm: "Are you sure you want to delete #{@region.title}?"}%>
    <% end %>
  </p>
</ul>


<% @region.photos.each_with_index do |photo, index| %>
  <ul>
    <%= "#{index + 1}" %> - <%= photo.title %> :
    <%= photo.description %>
    <p>
    <%= cl_image_tag photo.image.key, alt: "", width: 400, height: 300, crop: :fill %>
    </p>
    <% if policy(photo).edit? %>
      <%= link_to "Edit #{@photo}", edit_photo_path(photo) %> |
    <% end %>
    <% if policy(photo).destroy? %>
      <%= link_to "Delete #{@photo}", photo_path(photo), method: :delete, data: { confirm: "Are you sure you want to delete #{photo.title}?"}%>
    <% end %>
  </ul>
<% end %>
